:root{
    font-size: 16px;
    --sky:#0284c7;
    --skywhite : #f0f9ff;
    --skydarker : #bae6fd;
}
@font-face {
    font-family: Montserrat;
    src: url(/font/Montserrat-Regular.ttf);
}
body{
    margin: 0;
    font-family: Montserrat;
    max-height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content"
    ;
    min-height: 100vh;
}

/* Sidebar Styling */
.sidebar-container{
    background-color: var(--sky);
    grid-area: sidebar;
    max-height: 100%;
    min-height: 225px;
    padding: 20px 0px 0px 0px;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    align-items: start;

}

.sidebar-container > .title{
    font-size: 1.5rem;
    color: whitesmoke;
    padding-left: 20px;
    font-weight: 700;
}

.title > i{
    padding-right: 18px;
}

.main-menu{
    display: grid;
}

.second-menu{
    display: grid;
    padding-top: 50px;
}

button{
    min-height: 40px;
    border: none;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: var(--sky);
    color: whitesmoke;
    padding-left: 30px;
    letter-spacing: 1px;
}

button:hover{
    background-color: aquamarine;
}

i{
    padding-right: 30px;
}


/* Header Styling */
.header-container{
    background-color: var(--skywhite);
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    padding: 10px;
    grid-template-areas: 
    "search account"
    "information button"
    ;
    max-height: 100%;
}

.search{
    grid-area: search;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    padding-left: 10px;
}

label > .fa-search{
    padding-right: 20px;
}

input{
    width: 600px;
    height: 20px;
    background-color: var(--skydarker);
    border-radius: 20px;
    border: none;
    height: 30px;
    padding-left: 15px ;
    font-size: 1rem;
}
input:focus{
    outline: none;

}

.user-information{
    grid-area: information;
    display: grid;
    padding: 5px;
    column-gap: 15px;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "satu dua"
    "satu tiga"
    ;
    justify-content: start;
    align-items: centers;
}

.user-information > .profile-picture{
    grid-area: satu;
    height: 50px;
    align-self: center;
}

.profile-picture > img{
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.user-information > .small-text{
    grid-area: dua;
    font-size: 1rem;
    height: fit-content;
    align-self: center;
}

.user-information > .large-text{
    grid-area: tiga;
    height: fit-content;
    font-size: 2rem;
    align-self: center;
}

.account{
    grid-area: account;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    align-items: center;
    justify-content: end;
    padding: 0px 10px;
}

.account > .notification{
    justify-self: center;
    padding: 0;
}

.notification > .fa-bell{
    padding-right: 10px;
    font-size: 1.5rem;
}

.account > .profile-picture{
    height: 30px;
    justify-self: end;
    padding: 0px 10px;
}

.account > .username{
    justify-self: end;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 10px;
}

.button-group{
    grid-area: button;
    /* background-color: lightgray; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
}

.button-group > button{
    background-color: var(--sky);
    color: var(--skywhite);
    border-radius: 100px;
    margin: 10px;
    padding: 0;
    height: 10px;
    text-align: center;
}

.button-group > button:hover{
    background-color: var(--skydarker);
    color: var(--sky);
    
}



/* content styling */
.content-container{
    background-color: var(--skydarker);
    grid-area: content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1.6fr;
    grid-template-areas: 
    "project announce"
    "project trending"
    ;
    padding: 20px 10px 10px 10px;
    gap: 10px;

}

.project-group{
    grid-area: project;
    min-height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr;
    row-gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.project-group > .title{
    font-weight: 800;
    font-size: 1.1rem;
}

.card-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.card-group > .card{
    background-color: var(--skywhite);
    border-radius: 10px;
    padding: 10px;
    border-left: 5px solid yellowgreen;
    display: grid;
    grid-template-rows: 1fr 2fr max-content;
}

.card > .card-title{
    font-weight: 700;
}

.card > .card-content{
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card > .card-button{
    display: grid;
    grid-template-columns: repeat(3,max-content);
    justify-content: end;
    padding-top: 15px;
    align-self: baseline;
}

a > i{
    padding: 0px 5px;
}

.announcements{
    grid-area: announce;
    display: grid;
    row-gap: 10px;
    grid-template-rows: max-content 1fr;
}
.announcements > .title{
    font-weight: 800;
    font-size: 1.1rem;
}

.announcements-card{
    background-color: var(--skywhite);
    border-radius: 10px;
}


.trendings{
    grid-area: trending;
    display: grid;
    row-gap: 10px;
    grid-template-rows: max-content 1fr;
}

.trendings > .title{
    font-weight: 800;
    font-size: 1.1rem;
}

.trend-card{
    background-color: var(--skywhite);
    border-radius: 10px;
    padding: 10px;
}
.trend-card > .section{
    display: grid;
    grid-template-areas: 
    "img user"
    "img text"
    ;
    row-gap: 5px;
    align-items: center;
    padding-top: 15px;
}

.section-image{
    grid-area: img;
    height: 40px;
    justify-self: center;
}

.section-image > img {
    height: 100%;
    border-radius: 50px;
}

.section-user{
    grid-area: user;
    font-weight: 700;
    font-size: 0.8rem;
}

.section-text{
    grid-area: text;
    opacity: 80%;
}

